* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    height: 8vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    z-index: 10;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    
    
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 15px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    
}


ul li a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #2773ff;
    position:absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
  
}
  
ul li a:hover::after{
    width: 50%;
}




ul li ul.dropdown li {
    display: block;
}

.umsete{
    width: 160px;
}

ul li ul.dropdown {
    width: 100%;
    background: #4e4e4e;
    position: absolute;
    z-index: 999;
    opacity: 0; /* Inicia com opacidade zero para esconder o submenu */
    transition: opacity 0.5s ease; 
    border-radius: 0 0 10px 10px;
    pointer-events: none; /* submenu oculto sem interação */
}

ul li:hover ul.dropdown {
    opacity: 1; 
    pointer-events: auto; /*submenu visível */
}

ul li:hover ul.dropdown {
    display: block;
}


header img{
    height: 30px;
    
}

.home{
    height: 87vh;
}

.rodape{
    background-color: black;
    height: 5vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape img{
    height: 25px;
}

.rodape p{
    height: 26px;
}

.rodape a{
    text-decoration: none;
    color: #ccc4c4;
    cursor: pointer;
}






/*home*/
section.slider{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    z-index: 1;
    

}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    display: flex;
}

.slide-box img{
    margin-top: 5%;
    width: 50%;    
    
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 32%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #000;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #000;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}


.acessfast{
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 60vh;
    justify-content:space-evenly;
    flex-direction: column;
    
}

.acessfast h1{
    font-size: 30px;
}

.acessfast img{
    height: 50px;    
}

.itens{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.itens nav{
    transition: 0.5s;
}

.itens nav:hover{
    filter: drop-shadow(0 0 2px #000);

}

.itens h4{
    cursor: pointer;
}



/*home*/

/*login*/
.login{
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f7f4f4;
}

.login img{
    height: 80px;
    margin-bottom: 30px;
}

.login div{
    background-color: #fff;
    height: 300px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.login div form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login div form input{
    height: 50px;
    width: 300px;
    border-radius: 4px;
    margin-bottom: 10px;
}
/*login*/

/*painel*/
.painel{
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f7f4f4;
}

.painel div{
    background-color: #fff;
    height: 600px;
    width: 900px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.painel div form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painel div form input{
    height: 50px;
    width: 600px;
    border-radius: 4px;
    margin: 10px 0 10px 0;
}

.painel div form #texto{
    height: 350px;
}

.painel div form #enviar{
    width: 200px;
    background-color:#4e4e4e;
    color: #fff;
}

.painel div form textarea{
    width: 600px;
    height: 300px;
}



/*painel*/